[Desktop Entry]
Name=Unity Hub
Comment=The Official Unity Hub
Exec=start-unityhub %U
Terminal=false
Type=Application
Icon=com.unity.UnityHub
MimeType=x-scheme-handler/unityhub;
Categories=Development;
StartupWMClass=unityhub
PrefersNonDefaultGPU=true
